In [2]:
import pandas as pd
import csv

In [3]:
data = []
with open('test.csv',newline='') as file:
    reader = csv.reader(file)
    data = [row for row in reader if row and row[0] != '#']
max_cols = max(len(row) for row in data)

In [4]:
df = pd.DataFrame(data).reindex(columns=range(max_cols))

In [5]:
df

   0  1  2     3     4     5     6
0  2  e  f  None  None  None  None
1  1  a  b     c     d  None  None
2  3  h  i     j     k     l  None
3  3  1  2     3     4     5
4  2  1  2        None  None  None
5  1  1  2     3     4        None

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       6 non-null      object
 1   1       6 non-null      object
 2   2       6 non-null      object
 3   3       5 non-null      object
 4   4       4 non-null      object
 5   5       3 non-null      object
 6   6       1 non-null      object
dtypes: object(7)
memory usage: 468.0+ bytes

In [7]:
rec1 = df[df[0] == '1'].copy()
rec2 = df[df[0] == '2'].copy()
rec3 = df[df[0] == '3'].copy()
rec1

   0  1  2  3  4     5     6
1  1  a  b  c  d  None  None
5  1  1  2  3  4        None

In [8]:
rec1 = rec1.reset_index(drop=True)
rec1

   0  1  2  3  4     5     6
0  1  a  b  c  d  None  None
1  1  1  2  3  4        None

In [9]:
rec1fix = rec1.copy()
rec1fix.columns = rec1.iloc[0]
rec1fix = rec1fix.reset_index(drop=True)
rec1fix

0  1  a  b  c  d  None  None
0  1  a  b  c  d  None  None
1  1  1  2  3  4        None

In [10]:
rec1fix = rec1fix.loc[:,:'d']
rec1fix

0  1  a  b  c  d
0  1  a  b  c  d
1  1  1  2  3  4

In [11]:
rec2

   0  1  2     3     4     5     6
0  2  e  f  None  None  None  None
4  2  1  2        None  None  None

In [28]:
def clean_mangled(df:pd.DataFrame,on_record):
    rec = df[df[0] == f'{on_record}'].copy()
    rec = rec.reset_index(drop=True)
    rec.columns = rec.iloc[0]
    rec = rec.drop(0).reset_index(drop=True)
    # print(rec.columns)
    rec = rec.loc[:, rec.columns.notna()]
    # rec = rec.dropna(axis=1, how='all')
    return rec
rec1 = clean_mangled(df,1)
rec2 = clean_mangled(df,2)
rec3 = clean_mangled(df,3)
rec3

0  3  h  i  j  k  l
0  3  1  2  3  4  5

0  a  b  c  d
0  1  2  3  4

In [33]:
# column
pd.concat(
    [
        rec1.drop(rec1.columns[0],axis=1),
        rec2.drop(rec2.columns[0],axis=1),
        rec3.drop(rec3.columns[0],axis=1),
    ],
    axis=1
)

0  a  b  c  d  e  f  h  i  j  k  l
0  1  2  3  4  1  2  1  2  3  4  5

In [ ]:
# pd.set_option('display.max_columns',144)
# pd.set_option('display.max_rows',144)